<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{'fragment/common' :: head}">
    <!--<head th:replace="~{fragment/common :: head}">-->
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="~{'fragment/common' :: menu('board')}">
    </nav>

    <main class="container">
        <!-- pk히든으로 넘김 -->
        <form method="post" th:action="@{/board/save}" th:object="${board}">
            <!-- <form method="post" th:action="@{/board/form}" th:object="${board}"> -->
            <input type="hidden" th:field="*{id}" />
            <h2>게시판</h2>

            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <!--           <input type="text" class="form-control" th:field="*{title}" id="title">-->
                <!--            <-- <input type="text" class="form-control"-->
                <!--               th:if="${#fields.hasErrors('title')}" th:errors="*{name}" th:field="*{title}" id="title">-->
                <input type="text" class="form-control" th:field="*{title}" id="title"
                    th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    제목을 입력하세요
                </div>

                <!--            <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{content}"></div>-->
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <!--            <textarea class="form-control" th:field="*{content}" id="content" rows="3"></textarea>-->
                <textarea class="form-control" th:field="*{content}" id="content" rows="3"
                    th:classappend="${#fields.hasErrors('content') ? 'is-invalid' : ''}"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                    내용을 입력하세요
                </div>
                <!--            <textarea class="form-control"-->
                <!--              th:if="${#fields.hasErrors('content')}" th:errors="*{name}" th:field="*{content}" id="content" rows="3"></textarea>-->
                <!-- 바로 밑에 에러 메시지 출력용 div 추가 -->
                <!--            <div class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>-->
            </div>

            <p class="text-end">

                <button type="submit" class="btn btn-primary">확인</button>
                <button type="button" class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')"
                    th:onclick="|deleteBoard(*{id})|">삭제2</button>

                <!-- <div sec:authorize="hasRole('ROLE_ADMIN')"></div> -->
                <a class="btn btn-primary" th:href="@{/board/list}">취소</a>
                <!-- <a class="btn btn-primary" th:href="@{list}" >확인</a> -->
                <!--            <button type="reset" class="btn btn-primary" th:href="@{board/list}" >취소</button>-->
            </p>

        </form>

        <form method="post" th:action="@{/board/delete}" th:object="${board}">
            <input type="hidden" th:field="*{id}" />
            <p class="text-end">
                <button type="submit" class="btn btn-primary">삭제</button>
            </p>
        </form>
    </main>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <script>
        function deleteBoard(id) {
            // alert(id);
            $.ajax({
                url: '/api/boards/'+id,
                type: 'DELETE',
                success: function (result) {
                    console.log("result",result);
                    alert("삭제됨");
                    location.href = "/board/list";
                    // location.href = "board/list"; -> 이거 앞에 /없으면 중첩됨
                }
            });

        }
    </script>




</body>

</html>