<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head}">
</head>

<body>
    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="~{fragments/common :: menu}"> -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="~{fragments/common :: menu('board')}">
    </nav>
    <div class="container">
<!--        <5 rounded>-->
    <h2>게시판</h2>
<!--    <div>총 건수:<span th:text="${#lists.size(boards)}"></span></div>-->
    <div>총 건수:<span th:text="${boards.totalElements}"></span></div>

        <!-- alt+shift+f -->
        <!-- 검색 -->
        <div class="d-flex justify-content-end">
            <form class="row g-3" th:action="@{/board/list}" >
                <div class="col-auto">
                    <label for="searchText" class="visually-hidden">검색</label>
<!--                    ${param.x} 사용 검색후 남도록-->
                    <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary"  >검색</button>

                </div>
            </form>

        </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}">Mark</td>
                <!-- <td th:text="${board.title}">Otto</td> -->
                <td>
                    <a th:text="${board.title}" th:href="@{/board/form(id=${board.id})}">Otto</a>
                </td>
                <td>홍길동</td>
            </tr>
        </tbody>
    </table>

    <p class="text-end">
        <!-- <button type="button" class="btn btn-primary">쓰기</button> -->
        <!-- <button type="button" class="btn btn-primary" th:href="@{/board/form}">쓰기</button> -->
        <a type="button" class="btn btn-primary" th:href="@{/board/form}">쓰기</a>
    </p>

        <nav aria-label="Page navigation example">

            <ul class="pagination justify-content-center">
<!--            <li class="page-item">-->
<!--                1페이지만 이전 못하게끔-->
            <li class="page-item" th:classappend="${ 1 == boards.pageable.pageNumber + 1} ? 'disabled'"  >
<!--                <a class="page-link" href="#">Previous</a>-->
<!--                <a class="page-link" th:href="@{/board/list(page=${boards.pageable.pageNumber-1})}" >Previous</a>-->
                <a class="page-link" th:href="@{/board/list(page=${boards.pageable.pageNumber-1},searchText=${param.searchText})}" >Previous</a>
            </li>
<!--            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--            <li class="page-item " th:each="i: ${#numbers.sequence(startPage,endPage)}" >-->
            <li class="page-item " th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled'"  th:each="i: ${#numbers.sequence(startPage,endPage)}" >
<!--                <a class="page-link" href="board/list?page=startPage" th:text="${i}" >1</a>-->
<!--                <a class="page-link" th:href="@{/board/list(page=${i-1})}"  th:text="${i}" >1</a>-->
                <a class="page-link" th:href="@{/board/list(page=${i-1},searchText=${param.searchText})}"  th:text="${i}" >1</a>
            </li>
            <li class="page-item" th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1 } ? 'disabled'" >
<!--                <a class="page-link " th:href="@{/board/list(page=${boards.pageable.pageNumber+1})}" >Next</a>-->
                <a class="page-link " th:href="@{/board/list(page=${boards.pageable.pageNumber+1},searchText=${param.searchText})}" >Next</a>
            </li>
            </ul>
        </nav>
    </div>

</body>

</html>